<%= form_for([@destination, @pin]) do |f| %>

    Date Visited: <%= f.date_field :date %></br>
    Rating: <%= f.number_field :rating, min: 1, max: 5 %></br>
    </br>
    Select Existing Destination: <%= f.collection_select(:destination_id, Destination.all, :id, :city_country, prompt: true) %><br>
    </br>
    - OR - 

    <% if @destination %>
        <%= f.hidden_field :destination_id, value: @destination.id %>
    <% else %>
        <p>Add New Destination</p>                              <!-- nested form name="pin[destination][attribute]" -->
        <%= f.fields_for :destination, Destination.new do |d| %>
            City: <%= d.text_field :city %></br>
            Country: <%= d.text_field :country %></br> 
        <% end %>
    <% end %>
    
    
    <%= f.submit "Drop Pin" %>
<% end %>