<h2>Edit Your <%= @pin.destination.city %>, <%= @pin.destination.country %>  Pin</h2>

<%= render partial: "form" %>

    
<%= f.submit "Update Pin" %><br>
<%= button_to 'Delete Pin', pin_path(@pin), :method => :delete %>
<%= button_to 'Back To Home', pin_path, :method => :get %>