<h1>Pins#Index</h1>


<% if @destination %>
    <%= @destination.city %>, <%= @destination.country %>
<% else %>
    <h1> All Pins </h1>
<% end %>

<%= render partial: "pin", collection: @pins, as: :p %>

<% if @pin %>
    <%= link_to "New Pin", new_destination_pin_path %>
<% else %>
    <%= link_to "New Pin", new_pin_path %>
<% end %>


<%= button_to 'Logout', logout_path %>
