<nav>

    <% if current_user.nil? %>
            <%= link_to "Log In", login_path %>
        <%= link_to "Sign Up", signup_path %>
    <% else %>

        <%= link_to "Home", current_user %> ||
        <%= link_to "Create New Pin Index", new_pin_path %> ||
        <%= link_to "Destinations", destinations_path %> ||
        <%= link_to 'Logout', logout_path %>
    <% end %>
</nav>