<nav>

    <% if current_user.nil? %>
           <!--  <%= link_to "Log In", login_path %> -->
           <!--  <%= link_to "Sign Up", signup_path %> -->
    <% else %>

        <%= link_to "Home", current_user, class: "font_color"%> ||
        <%= link_to "Create New Pin", new_pin_path, class: "font_color" %> ||
        <%= link_to "All Pins", pins_path, class: "font_color" %> ||
        <%= link_to "Create New Destinations", new_destination_path, class: "font_color" %> ||
        <%= link_to "All Destinations", destinations_path, class: "font_color" %> ||
        <%= link_to 'Logout', logout_path, class: "font_color" %>
    <% end %>
</nav>